---
layout: default
title: Graham Troyer-Joy
---

<div id="body">
	<div id="header">
		{{ site.data.resume.name }}
	</div>
	<div class="subhead">
		work
	</div>

	{% for job in site.data.resume.work %}
	<div class="item">
		<div class="title">{{ job.what }}, {{ job.where }}</div>
		<div class="date">{{ job.when }}</div>
		<div class="description">{{ job.how }}</div>
	</div>
	{% endfor %}

	<div class="subhead">
		experience
	</div>
	{% for experience in site.data.resume.experience %}
	<div class="item">
		<div class="title">{{ experience.what }}, {{ experience.where }}</div>
		<div class="date">{{ experience.when }}</div>
		<div class="description">{{ experience.how }}</div>
	</div>
	{% endfor %}

	<div class="subhead">
		education
	</div>
	{% for experience in site.data.resume.experience %}
	<div class="item">
		<div class="title">{{ experience.what }}, {{ experience.where }}</div>
		<div class="date">{{ experience.when }}</div>
		<div class="description">{{ experience.how }}</div>
	</div>
	{% endfor %}


	<div id="footer">
	708 275 5448 &bull; graham@troyer-joy.com
	<br />
	4960 North Marine Drive #912 &bull; Chicago, Illinois 60640
	</div>
</div>
