---
layout: default
title: Graham Troyer-Joy
---

<article class="resume">
	<h1>{{ site.data.resume.name }}</h1>
	<h2>elevator speech</h2>
	<p class="how">
		{{ site.data.resume.elevatorSpeech }}
	</p>
	<h2>work</h2>
	<ol>
	{% for job in site.data.resume.work %}
		<li class="item">
			<h3 class="what">{{ job.what }}, {{ job.where }}</h3>
			<span class="when">{{ job.when }}</span>
			<p class="how">{{ job.how }}</p>
		</li>
	{% endfor %}
	</ol>
	<h2>experience</h2>
	<ol>
		{% for experience in site.data.resume.experience %}
		<li class="item">
			<h3 class="what">{{ experience.what }}, {{ experience.where }}</h3>
			<span class="when">{{ experience.when }}</span>
			<p class="how">{{ experience.how }}</p>
		</li>
		{% endfor %}
	</ol>

	<h2>education</h2>
	<ol>
		{% for experience in site.data.resume.education %}
		<li class="item">
			<h3 class="what">{{ experience.what }}, {{ experience.where }}</h3>
			<span class="when">{{ experience.when }}</span>
			<p class="how">{{ experience.how }}</p>
		</li>
		{% endfor %}
	</ol>


	<footer>
	{{ site.data.resume.phone }} &bull; <a href="mailto:{{ site.data.resume.email }}">{{ site.data.resume.email }}</a><br />
	{{ site.data.resume.address.street | join }} &bull; {{ site.data.resume.address.city }}, {{ site.data.resume.address.state }} {{ site.data.resume.address.zip }}
	</footer>
</article>
