@import 'reset';

$mainContentWidth: 515px;
$gutterWidth: 25px;
$sidebarWidth: 85px;
$outerPadding: 60px;
$breakpoint: $mainContentWidth + $gutterWidth + $sidebarWidth + $outerPadding * 2 + 2;
$darkPrintLink: #fc0;
$printLink: #fe0;
$brightPrintLink: #ff0;
$stormBlue: #ddf;
$stormBlueShadow: hsla(210, 100%, 15%, .25);

@page { 
    size: auto;
    margin: .4in .4in .4in .4in;  
} 
body {
	font-family: Georgia, serif;
	font-size: 14px;
	line-height: 1.69em;
}
a {
		text-decoration: none;
}
@media screen {
	a {
		transition: color 0.5s;
		position: relative;
	}
	a:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 1px;
		background: $printLink;
		bottom: 8%;
		left: 0px;
		transform: scale(0, 1);
		transition: transform .25s;
		will-change: transform;
		transform-origin: inherit;
	}
	a:hover {
		background: $printLink;
		transition: color 0.25s;
	}
	a:hover:after {
		transform: none;
	}
}
@media print {
	a {
		color: black;
	}
}
.print {
	display: none;
}
h1 {
	font-size: 48px;
	line-height: 40px;
	font-variant: small-caps;
	letter-spacing: .079em; /* just under the legal limit */
	padding-top: 40px;
	margin-bottom: 30px;
}
@media print {
	h1 {
		padding-top: 0;
	}
}
h2 {
	font-weight: 500;
	border-bottom: 1px solid gray;
	font-size: 20px;
	margin: 10px 0px 10px;
	text-transform: lowercase;
}
@media print {
	h2 {
		border-bottom-color: black;
	}
}
.resume {
	text-align: left;
	margin: 0 auto;
	background-color: white;
	padding: 0px 20px;
}
footer {
	font-size: 18px;
	clear: both;
	margin-top: 30px;
	padding-bottom: 40px;
}
@media print { 
	footer {
		padding-bottom: 0px;
	}
}
h1,
footer {
	text-align: center;
}
.item {
	margin: 20px 0px;
}
.item.about {
	text-align: justify;
}
.when {
	font-weight: 100;
	font-size: 16px;
	/*line-height: 23px;*/
	font-style: italic;
	&::after {
		content: ':';
	}
}
.what {
	display: inline;
	font-size: 16px;
	margin-bottom: 2px;
}
.nobr {
	white-space: nowrap;
}
.how li {
	margin-left: 0.9em;
  position: relative;
}
.how li:before {
  content:'○'; /*'↳';*/
  position: absolute;
  left: -1.125em;
  overflow: visible;
  font-size: 11px;
}

@media screen and (min-width: $breakpoint) {
	body {
		background: $stormBlue;
	}
	.resume {
		position: relative;
		margin: 75px auto;
		box-shadow: 0 0 50px $stormBlueShadow;
		border-radius: 2px;
	}
	.print {
		display: block;
		position: absolute;
		right: 30px;
		transform: translateY(-80%);
		background: $darkPrintLink;
		padding: 10px 15px;
		box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
		border-radius: 5px 5px 0 0;
		z-index: -1;
		will-change: transform;
		transition: transform .5s;
  }
  .print:hover {
  	transition: transform .25s;
  	transform: translateY(-100%);
  }
  .print:active {
  	background: $brightPrintLink;
  }
  .print:after {
  	display: none;
  }
}
@media print, screen and (min-width: $breakpoint) {
	h1 {
		text-align: left;
	}
	h1, .what, .how {
		padding-left: $sidebarWidth + $gutterWidth;
	}
	h2 {
		text-align: right;
		float: right;
		padding-right: $mainContentWidth + $gutterWidth;
	}
	.resume {
		width: $mainContentWidth + $gutterWidth + $sidebarWidth;
		padding: 0px $outerPadding;
	}
	.item {
		clear: both;
	}
	.what, .when {
		display: block;
	}
	.when {
		text-align: right;
		float: left;
		width: $sidebarWidth;
		&:after {
			content: '';
		};
	}
	footer ol {
		padding-left: $sidebarWidth + $gutterWidth;
		text-align: left;
		&:after {
			display: block;
			content: ' ';
			clear: both;
		}
	}
	footer li {
		float: left;
		&:before {
			content: '•';
			margin: 0 10px;
		}
		&:first-child,
		&.address {
			&:before {
				display: none;
			}
		}
	}
	.address {
		clear: both;
	}
}

