
@import 'reset';



body {
	font-family: Georgia, serif;
	padding: 0px;
	margin: 0px;
	background: gray;
	font-size: 14px;
	line-height: 1.5em;
}
h1 {
	font-size: 48px;
	line-height: 40px;
}
h2 {
	float: right;
	padding-right: 504px;
	margin-right: 120px;
	font-weight: 500;
	border-bottom: 1px solid gray;
	font-size: 16pt;
	clear: both;
	margin-bottom: 5px;
}



.resume {
	text-align: left;
	width: 800px;
	margin: 0 auto;
	background-color: white;
}


footer {
	font-size: 18px;
	clear: both;
}
h1, 
footer {
	font-variant: small-caps;
	text-align: center;
	padding: 20px 0px;
}

h2, 
.item {
	margin-top: 20px;
}
.item {
	margin-bottom: 20px;
}
.when {
	text-align: right;
	padding-right: 24px;
    float: right;
}
.what {
	width: 520px;
}
.how {
	margin-left: 200px;
	clear: both;
}
.what, 
.how {
	margin-right: 80px;
}
.date, 
.what {
	float: right;
	font-style: italic;
}


